<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header"></div>
      <mat-card-title>Welcome</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

  </mat-card>
