<mat-card>
    <h1>{{formType}}</h1>
    <form #bookForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
        <mat-form-field>
            <input 
                matInput placeholder="avg grade"
                [(ngModel)] = "grade"
                name = "grade">
        </mat-form-field> 
        </p>
        <p>
        <mat-form-field>
                <input 
                    matInput placeholder="psycometry score"
                    [(ngModel)] = "psy"
                    name = "psy">
        </mat-form-field>
      </p>  
      <p>

        <select [(ngModel)]="tuition" name = "tuition">
            <option value="true" selected>true</option>
            <option value="false">false</option>

          </select>
      </p>                       
        <div >
            <button mat-raised-button (click) = "updateParent()" >{{buttonText}}</button>
            <button mat-raised-button (click) = "tellParentToClose()" >Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>
